<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="header">
            <h1>Recipe Planner</h1>
        </div>
        <div class="login-container">
            
            <input name="login" type="text" placeholder="login">
            <input name="password" type="password" placeholder="password">
            <p class="signup-text">You don't have an account yet?</p>
            <a href="signUp.html" class="signup-button">SIGN UP HERE</a>
        
        </div>
    </div>
</body>