<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>MAIN PAGE</title>
</head>
<body>
    <div class="main-container">
        <div class="nav">
            <img src="logo.svg" alt="Logo" class="main-logo">
            <div class="buttons">
                <li><a href="recipes.html">recipes</a></li>
                <li><a href="shoppingList.html">shopping list</a></li>
                <li><a href="planner.html">planner</a></li>
                <li><a href="favorites.html">favorites</a></li>
                <li><a href="myAccount.html">my account</a></li>
            </div>
        </div>
        <div class="main-page">
            <img src="../img/imageMain1.png" class="imageMain1">
            <img src="../img/imageMain2.png" class="imageMain2">
            <img src="../img/imageMain3.png" class="imageMain3">
            <div class="Main-text">
                <h>Find the best recipes and share your own creations!</h>
            </div>
        </div>
    </div>
</body>