<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>SIGN UP PAGE</title>
</head>
<body>
    <div class="container">
        <div class="Welcome-text">
            <h>Welcome to<br>Recipe Planner</h>
        </div>
        <div class="Welcome-logo">
            <img src="../img/logo.svg">
        </div>
        <div class="signUpSheet-container">
            <p class="createAccount-text">Create your account</p>
            <input name="username" type="text" placeholder="username">
            <input name="e-mail" type="text" placeholder="e-mail">
            <input name="password" type="password" placeholder="password">
            <p class="passwordRule-text">Your password should have at least 5 letters</p>
            <input name="password2" type="password" placeholder="repeat password">
            <a href="main.html" class="create-account-button">Create my account</a>
        </div>
        
    </div>
</body>