body {
    margin: 0;
    font-family: 'Garamond', serif;
    font-weight: 100;
}

.container {
    width: 100vw;
    height: 100vh;
    background:#025D59 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    bottom: 20px; 
    left: 50%;   
    transform: translateX(-50%); 
    width: 100px; 
    height: auto;
}
.header {
    position: absolute;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: #DADADA;
    font-size: 36px; 
    font-weight: 200;
    text-align: center; 
    
}


.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    align-items: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input[type="text"],
input[type="password"] {
    flex:1;
    width: 250px;
    padding: 10px;
    font-size: 17px;
    color:black;
    border: 2px solid #ccc;
    background:#DADADA;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #35d3be;
    border-width: 5px;
}
.rightArrow{
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    background-color: #DADADA;
}
.arrowButton img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}
.messages{
    color: red;
    font-size: 14px;
}

.signup-text {
    font-size: 16px;
    color: #DADADA;
    text-align: center;
}


.signup-button {
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    background: #DADADA;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    width: 50%;
    border: none;
    color: #087B75;
    margin: 1em;
    height: 2.5em; 
    font-size: 1em; 
    cursor: pointer; 
    text-decoration: none; 
}
.signup-button:hover {
    background-color: #35d3be;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.Welcome-text{
    width: 50%;
    text-align: center;
    position: absolute;
    top: 200px; 
    transform: translateX(-50%); 
    color: #DADADA;
    font-size: 88px; 
    font-weight: 90;
}
.Welcome-logo{

    width: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 60%;
    height: 200px;
    justify-content: center;
    display: flex

}
.signUpSheet-container {
    position: absolute;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(50%, 0%);
    gap: 8px;
}
.createAccount-text{
    top:50px;
    font-size:45px;
    color:#DADADA
}
.passwordRule-text{
    margin: 0;
    font-size:14px;
    color:#DADADA;
}
.create-account-button{
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    background: #D2DD81;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    width: 40%;
    border: none;
    color: #087B75;
    margin: 4em;
    height: 2.5em; 
    font-size:1em; 
    cursor: pointer; 
    text-decoration: none; 
}
.create-account-button:hover{
    color:#EFFF75;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.main-container{
    background-color:#087B75;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.nav{
    background-color: #025D59;
    position:absolute;
    display:flex;
    flex-direction:row;
    height:10%;
    width:100%;
    gap: 26px; 
    align-items: center;
}
.main-page{
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.imageMain1{
    position:absolute;
    right:5%;
    bottom:15%;
    width: 180px;
    height:auto;
}
.imageMain2{
    position:absolute;
    left:5%;
    bottom:15%;
    width: 200px;
    height:auto;
}
.imageMain3{
    position:absolute;
    left:5%;
    top:15%;
    width: 500px;
    height:auto;
}
.buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 26px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #DADADA;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #35d3be;
  }
  .main-text{
    font-size: 50px;
    color:#DADADA
  }
  /*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  .StandardContainer{
    background-color: #087B75;
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  .SiteHeader{
    top: 0;
    color:#FFFFFF;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 20px; 
    font-weight: lighter;
    text-align: center; 
  }
  .myAccountLeft,
  .myAccountRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .mATitle-text{
    color:#FFFFFF;
    font-size: 20px;
  }
  .mAData-text{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: bold;
  }
  .userPicture{
    position:absolute;
    top:200px;
    width: auto;
    height: 100px;
  }


.myAccountLeft .myAccount-button,
.myAccountRight .myAccount-button {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #1AB8B1;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
}
.myAccount-button:hover {
    background-color: #35d3be;
}

/*///////////////////////////////////////////////////////////////////////*/
.default-page{
    background-color: #DADADA;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    bottom: 0;
    position: absolute;
}
.addRecipe{
    position: absolute;
    width:10%;
    height: 10%;
    right: 20px;
    bottom: 20px;
}
.addRecipe img{
    width: 100%;
    height: 100%;
}
